#mainAd {
    width: 100%;
}

.mainAd__inner {
    position: relative;
    overflow: hidden;

    .mainAd__track {
        height: 600px;
        display: flex;
        align-items: center;
        
        .slideItem {
            min-width: 100%;
            
            img {
                width: 100vw;
                height: 100%;
                object-fit: contain;
                cursor: pointer;
            }
        }
    }
    .mainAd__arrow {
        position: absolute;
        @include flex-center;
        gap: 20px;
        top: 83%;
        z-index: 10;
        left: 45%;

        .arrowButton {
            width: 65px;
            height: 65px;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 35px;
            border: none;
            cursor: pointer;

            img {
                width: 20px;
                height: auto;
            }
            .left {
                margin-right: 5px;
            }
            .right {
                margin-left: 5px;
            }
        }
    }
}