// 가운데 정렬
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// 양쪽 정렬
@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// 중앙 정렬
@mixin position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// 상단 고정
@mixin position-fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

// 이미지 꽉 채우기
@mixin fit-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// 바디 60% 중앙
@mixin center60 {
    width: 60%;
    margin: 0 auto;
}

// 라인
@mixin line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--black100);
}

// 스펜 가운데 정렬
@mixin span-center {
    display: block;
    text-align: center;
}